# Domínio raiz (host do storefront: pedido.{ROOT_DOMAIN}/{tenant})
ROOT_DOMAIN=whitelabel.com.br
NEXT_PUBLIC_ROOT_DOMAIN=whitelabel.com.br

# Dev local:
# http://pedido.localhost:3001/cowboy-burger-67
